
<div class="page login-page d-flex" >
    <div class="container">
        <div class="form-outer   align-items-center">
            <div class="logo text-uppercase text-center " >
                <h1>Configuration de l'application</h1>
            </div>
            <div class="form-inner">
                <%= render 'form', app_config: @app_config %>
            </div>
        </div>
    </div>
</div>
