<h1>Editing Bank Commission Rate Tracker</h1>

<%= render 'form', bank_commission_rate_tracker: @bank_commission_rate_tracker %>

<%= link_to 'Show', @bank_commission_rate_tracker %> |
<%= link_to 'Back', bank_commission_rate_trackers_path %>
