
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Salut <%= @email %>,<br>
      Votre compte a été désactivé par l'administrateur! <br />
    </p>
        <b>Veuillez contacter l'administrateur pour en savoir plus.</b> <br />
    <p>
        Pour se connecter à l'application, suivez juste ce lien: <%= @url %>.<br>
    </p>
    <p>
        <b>Cordialement </b>

    </p>
  </body>
</html>