<h1>Editing Monthly Payment Delay Expired</h1>

<%= render 'form', monthly_payment_delay_expired: @monthly_payment_delay_expired %>

<%= link_to 'Show', @monthly_payment_delay_expired %> |
<%= link_to 'Back', monthly_payment_delay_expireds_path %>
