
<% @excercise_years.each do |excercise_year| %>
      <tr>
        <td><%= excercise_year.name %></td>
       
        <td><%= excercise_year.status %></td>
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_excercise_year_path(excercise_year), title: "Modifier", remote: true %>
					<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), excercise_year_delete_path(excercise_year), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>


      </tr>
    <% end %>