<div class="page login-page d-flex" >
	<div class="container">
    	<div class="form-outer   align-items-center">
			<div class="logo text-uppercase text-center " >
            </div>
           <div class="form-inner">
				<h2 class= "form-title text-center">Création d'une année d'excercice</h2>
                <%= render 'form-setup', excercise_year: @excercise_year %>

            </div>
        </div>
    </div>
</div>