 <tr>
                        
    <td>TOTAUX</td>
    <td></td>
    <td></td>
    <td></td>
        <td></td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
        <td></td>
    <td class="blue-amount"><strong></strong></td>

    <td class="blue-amount"><strong></strong></td>
    <td></td>

</tr>