<div class="container">

<div class="title">
<h1>Echéancier et paiements effectués</h1>

<h3>Date de l'acte: <%= @credit.acte_date.strftime("%d/%m/%Y") if @credit.acte_date.present? %></h3>
<h3>Numéro du dossier: <%= @credit.identifier %></h3>
</div>

<table id="echeance-table-list" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
     <!-- <th>#ID</th>-->
      <th >Tranche</th>
      <th>Date</th>
      <th>Client</th>
      <th>Commission</th>
      <th>Montant cumulé</th>
      <% if is_admin? %>
        <th>Payé par la banque</th>
        <th>Payé à l'appo ou au prod</th>
        <th> Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="credit-details">
    <%= render('index') %>

  </tbody>
</table>

</div>

<div id="credit-details-modal" class="modal fade"></div>