<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="index-heading pull-left">

        <div class="title">
          <h1>Echéancier et paiements effectués</h1>

          <h3>Date de l'acte: <%= @credit.acte_date.strftime("%d/%m/%Y") if @credit.acte_date.present? %></h3>
          <h3>Numéro du dossier: <%= @credit.identifier %></h3>
        </div>



			</div>
			<div class="pull-right">
                
        <p>
        </p>
			</div>
		</div>
	</div>
<%= render 'edit_all_form' %>

</div>