<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header align-items-center">
                    <div class="card-header-title-text">
                        <h1 class="uppercase">Délai de paiements</h1>
                    </div>
                    <div class="card-header-subtitle-text">
                      
                    </div>
                </div>
                <div class="card-body">
                    <div class="profile">
                        <!-- Start section -->
                        <div class="profile-section-bacic-infos">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-section-title">
                                        <div class="pull-left">
                                            <span>
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                            </span>
                                            <span><h3>Paramétrage des délais de paiements</h3></span>
                                        </div>
                                        <div class="pull-right">
                                            <span>
                                              <%= actions_for_payment_delays %>
                                            </span>
                                        </div>
                                    </div><!-- end section title -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="profile-section-body">
                                        <table class="table table-striped">
                                            <tbody class="index">
                                                <%= render('index') %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end section -->
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<div id="payment-delay-modal" class="modal fade"></div>
