

<div class="container">

<div class="row">
<div class="col-md-12">
<div class="index-heading pull-left">
    <h3>Liste des banques</h3>
    
    </div>
<div class="pull-right">


<p>
<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Nouveau'), new_bank_path, class: "btn btn-warning", remote: true %>
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
<table  id="table-list" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>% com</th>
      <th>Nombre d'écheance</th>
      <th>Première tranche (%)</th>
      <th>Solde tranche en %</th>
      <th>% com hypoplus</th>
      
      <th>Actions</th> 
    </tr>
  </thead>

  <tbody class="banks">
    <%= render('index') %>
  </tbody>
</table>
</div>
</div>
</div>

</div>

<div id="bank-modal" class="modal fade"></div>
<div id="bank-setting-modal" class="modal fade"></div>

<div id="alert-modal" class="modal fade"></div>