<h1>Editing User Commission Edition</h1>

<%= render 'form', user_commission_edition: @user_commission_edition %>

<%= link_to 'Show', @user_commission_edition %> |
<%= link_to 'Back', user_commission_editions_path %>
