<div class="mensuel">
    <table id="stat-mensuel" class="table table-striped table-bordered table-hover">
        <thead>
            <th>Janvier</th>
            <th>Février</th>
            <th>Mars</th>
            <th>Avril</th>
            <th>Mai</th>
            <th>Juin</th>
            <th>Juillet</th>
            <th>Aôut</th>
            <th>Septembre</th>
            <th>Octobre</th>
            <th>Novembre</th>
            <th>Decembre</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>