<div class="hero">
    <div class="container">
        <div class="hero-body">
            <h1 class="hero-title">GesComPH</h1>
            <p class="hero-subtitle">
                Application de Gestion des Commissions des Crédits Hypothécaires et des PAT.
                Ainsi que vous le savez, les commissions liées aux crédits hypothécaires sont maintenant ventilées en une première tranche suivie d’un échéancier mensuel variable selon les banques (en général 24 mois). La gestion s’en trouve dès lors complexifiée. Soucieux d’offrir les meilleurs services aux courtiers en Banque et en Assurance, Cosmopol a développé pour vous un nouveau logiciel : « Gestion des Commissions des Crédits Hypothécaires et des prêts à tempérament » en abrégé «GesComPH» 
            </p>
            
        </div>
    </div>
</div>

<!--
<div class="container">
   
    <div class="about">
        <div class="row">
            <div class="col-md-6">
                <div class="about__content">
                    <p>
                        Ainsi que vous le savez, les commissions liées aux crédits hypothécaires 
                        sont maintenant ventilées en une première tranche suivie d’un échéancier
                         mensuel variable selon les banques (en général 24 mois). 
                         La gestion s’en trouve dès lors complexifiée. 
                         Soucieux d’offrir les meilleurs services aux courtiers en Banque et en Assurance, 
                         Cosmopol a développé pour vous un nouveau logiciel : « Gestion des Commissions des Crédits Hypothécaires et des prêts à tempérament » en abrégé «GesComPH» 
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="about_image">
                    <%= image_tag "commission.jpg" %>
                </div>
            </div>

        </div>
        
    </div>
 </div>

 -->
<div class="features">
    <div class="container">
    <div class="features-title">
                <h1 class="text-center">Fonctionalités</h1>
            </div>
        <div class="row">
            
            <div class="col-md-4 feature-item">
                <div class="features-item-icon">
                    <i class="fa fa-university" aria-hidden="true"></i>

                </div>
                <div class="features-item-title">
                    Commissions bancaires
                </div>
                <div class="features-content">
                    y compris des échéanciers, pour votre entreprise, 
                    vos apporteurs d’affaires et vos gestionnaires de dossiers.
                </div>
            </div>
            <div class="col-md-4 feature-item">
                <div class="features-item-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>

                </div>
                <div class="features-item-title">
                    Etats de commissions
                </div>
                <div class="features-content">
                   Vous-même, vos apporteurs et vos producteurs de dossiers peuvent suivre à tous moments les états de commissions.
                </div>
            </div>
            <div class="col-md-4 feature-item">
                <div class="features-item-icon">
                    <i class="fa fa-download" aria-hidden="true"></i>

                </div>
                <div class="features-item-title">
                    L’injection des données
                </div>
                <div class="features-content">
                    (emprunteurs, banque, apporteurs, gestionnaire, montant du crédit, notaire etc.) 
                    peuvent être injecté depuis l’application 
                    Brio (de Portima) vers notre application.
                </div>
            </div>

        </div>

        <div class="row">
            
            <div class="col-md-4 feature-item">
                <div class="features-item-icon">

                    <i class="fa fa-globe" aria-hidden="true"></i>

                </div>
                <div class="features-item-title">
                    Orienté web
                </div>
                <div class="features-content">
                    Il ne nécessite aucune installation sur votre pc. De plus il s’adapte automatiquement à la taille de votre pc ou de votre tablette (iPad ou Android).
                </div>
            </div>
            <div class="col-md-4 feature-item">
                <div class="features-item-icon">
                    <i class="fa fa-external-link" aria-hidden="true"></i>

                </div>
                <div class="features-item-title">
                    Exportation vers Excel, PDF
                </div>
                <div class="features-content">
                    Chaque tableau contenu dans notre application peut s’exporter vers Excel, PDF… afin de pouvoir re-traiter vos données en cas de nécessité.               
                </div>
            </div>
            

        </div>
    </div>
</div>