<div class="jumbotron">
    <div class="container">
    <h1>GesComPH</h1>
    <p>
        Gestion des Commissions des Crédits Hypothécaires et des PAT
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>