<h1>Editing First Installment Payment Delay Expired</h1>

<%= render 'form', first_installment_payment_delay_expired: @first_installment_payment_delay_expired %>

<%= link_to 'Show', @first_installment_payment_delay_expired %> |
<%= link_to 'Back', first_installment_payment_delay_expireds_path %>
