

<div class="page login-page d-flex" >
    <div class="container">
        <div class="form-outer   align-items-center">
            <div class="logo text-uppercase text-center " >
                <h3>Configuration de l'application</h3>
            </div>
            <div class="form-inner">
                <%= render 'form', config_option: @config_option %>
            </div>
        </div>
    </div>
</div>

