<footer class="footer ">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
           
                &copy;2020 - Développé par <a href="http://www.informatique-courtiers.be" target="_blank">http://www.informatique-courtiers.be</a>

            
            </div>
    </div>
</footer>
</div>