<footer class="footer ">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
            &copy;
2018 <%= @app_name %> - Tout droits réservés
        </div>
    </div>
</footer>
</div>