<p id="notice"><%= notice %></p>

<p>
  <strong>Date effet:</strong>
  <%= @commission_percentage_edit.date_effet %>
</p>

<%= link_to 'Edit', edit_commission_percentage_edit_path(@commission_percentage_edit) %> |
<%= link_to 'Back', commission_percentage_edits_path %>
