<h1>Editing Bank Commission Edition</h1>

<%= render 'form', bank_commission_edition: @bank_commission_edition %>

<%= link_to 'Show', @bank_commission_edition %> |
<%= link_to 'Back', bank_commission_editions_path %>
