<%= form_with(model: log, local: false) do |form| %>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <%= form.file_field :file_name %>
                </div>
            </div>
        </div>
    </div><!-- modal body -->
    <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        <%= form.submit "Importer",  class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>