<% @logs.each do |log| %>
    <tr>
        <td><%= log.created_at %></td>
        <td><%= log.file_name %></td>
        <td><%= log.no_record %></td>
        <td><%= log.error %></td>
        <td>
            <% if status?(log) %>
                <span class="green-check"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <% else %>
                <span class="import-failed"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
            <% end %>
        </td>
    </tr>
<% end %>