<!-- Modal -->

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Suppression</h4>
      </div>
      	<div class="modal-body">
  <ul class="errors"></ul>
  <p>
  Attention, tous les paramètres (banques, apporteurs, producteurs) vont être effacés et vous devrez les réencoder. Voulez-vous continuer ?
</p>
  
  </div>
  <div class="modal-footer">
    <%= link_to "Non", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
    <%= button_to "Oui, Tous supprimer",  post_reset_configuration_path,  class: "btn btn-danger",  data: {disable_with: "Suppression en cours..."}, autocomplete: "off" %>

  </div>
  </div>
</div>