<div class="container">

<% if is_admin? || is_superadmin? %>
    <% if closed_excercise?(session[:current_excercise])  %>

            <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                <p>
                    ATTENTION, vous êtes dans un excercice clôturé, aucun ajout et modification ne sera pris en compte.
                    <%= link_to "Plus...", excercise_years_path %>
                </p>
                </div>
        <% end %>
<% end %>
</div>